# Compilação e Binários
bin/
target/
*.class

# Configurações de IDE (Eclipse/STS)
.metadata/
.settings/
.classpath
.project
.factorypath
.sts4-cache/
.recommenders/

# Arquivos de Sistema
Thumbs.db
.DS_Store

# Segurança e Configurações Locais
application-local.properties